<div style="width: 100%; height: 10%; display: flex; background-color: #557A95;">
    <button mat-button style="flex: 5 1 0; font-size: 21px; color: white; text-align: left" (click)="welcome()">Welcome</button>
    <div style="flex: 1 1 0; direction: rtl; font-size: 25px; color: white; margin-top: 10px; margin-right: 10px;">
        <div style="display: flex;">
            <button mat-button style="flex: 1 1 0; font-size: 18px; margin-top: 15px;" (click)="onLogin()" *ngIf="!loggedIn">Login</button>
            <button mat-button style="flex: 1 1 0; font-size: 18px; margin-top: 15px;" (click)="onLogout()" *ngIf="loggedIn">Logout</button>
            <button mat-button style="flex: 1 1 0; font-size: 18px; margin-top: 15px;" (click)="onSignUp()">Sign Up</button>
        </div>
    </div>
</div>

