mat-form-field {
    width: 275px;
    margin-right: 55px;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-flow: row-reverse;
}

.info {
    width: 80%
}

.green {
    color: green;
}

.red {
    color: red;
}

.result {
    width: 20%;
}

.sb-btn {
    margin-top: 30px;
}

button {
    background-color: #557A95;
    color: white;
}

.result-content {
    margin-top: 90px;
    margin-left: 50px;
    font-size: 50px;
    font-weight: 600;
}