<div class="container">
  <div class="result">
    <div class="result-content">
      <span *ngIf="!loader" class="green"  [class.red]="resultContent == 'YES'">{{resultContent}}</span>
      <span *ngIf="loader">Loading..</span>
    </div>
  </div>
  <div class="info" style="margin-left: 30px">
    <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
            <mat-form-field appearance="standard">
                <mat-label>Age</mat-label>
                <input matInput placeholder=""
                  [(ngModel)] = "answer.age"
                  name = "age"
                  required>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Sex</mat-label>
                <mat-select [(value)]="answer.gender" required>
                  <mat-option *ngFor="let sex of gender" [value]="sex">
                    {{sex == 0 ? "female" : "male"}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field>
                <mat-label>Chest pain Level (1-4)</mat-label>
                <mat-select [(value)]="answer.pain" required>
                  <mat-option *ngFor="let level of painLevel" [value]="level">
                    {{level}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Cholesterol</mat-label>
                <input matInput placeholder=""
                  [(ngModel)] = "answer.cholesterol"
                  name = "cholesterol"
                  required>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>BP at rest</mat-label>
                <input matInput placeholder=""
                  [(ngModel)] = "answer.restBp"
                  name = "restBp"
                  required>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Is your blood sugar greater than 120 mg/dl</mat-label>
                <mat-select [(value)]="answer.bloodSugar" required>
                  <mat-option *ngFor="let value of bloodSugar" [value]="value">
                    {{value == 1 ? "true" : "false"}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field>
                <mat-label>What is your ECG result?</mat-label>
                <mat-select [(value)]="answer.restECG" required>
                  <mat-option *ngFor="let value of restECG" [value]="value">
                    {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Max heart rate</mat-label>
                <input matInput placeholder=""
                  [(ngModel)] = "answer.maxHeartRate"
                  name = "maxHeartRate"
                  required>
                <mat-hint></mat-hint>
            </mat-form-field>

          <mat-form-field>
              <mat-label>Exercise induced angina</mat-label>
              <mat-select [(value)]="answer.exang" required>
                <mat-option *ngFor="let value of exang" [value]="value">
                  {{value == 1 ? "Yes" : "No"}}
                </mat-option>
              </mat-select>
            </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label> ST depression induced by exercise relative to rest</mat-label>
            <input matInput placeholder=""
              [(ngModel)] = "answer.oldpeak"
              name = "oldpeak"
              required>
            <mat-hint></mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-label>What is your the slope of the peak exercise ST segment?</mat-label>
            <mat-select [(value)]="answer.slope" required>
              <mat-option *ngFor="let value of slope" [value]="value">
                {{value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

      <mat-form-field>
          <mat-label>number of major vessels colored by flourosopy</mat-label>
          <mat-select [(value)]="answer.ca" required>
            <mat-option *ngFor="let level of ca" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
        </mat-form-field>

    <mat-form-field>
        <mat-label>Thal</mat-label>
        <mat-select [(value)]="answer.thal" required>
          <mat-option *ngFor="let value of thal" [value]="value">
            {{value == 0 ? "normal" : value == 1 ? "fixed defect" : value == 2 ? "reversable defect" : "other"}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <div class="sb-btn">
            <button mat-raised-button color="primary" style="background-color: #557A95;">
                     Submit
            </button>
        </div>
    </form>
</div>
</div>
